<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>01-多图下载-数据展示.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>E40B3B5F1EC9442E004F2FFB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E40B3B781EC9442E004F2FFB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E40B3B831EC9442E004F2FFB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
